# 📦 Node modules
node_modules/

# 🔐 Environment variables
.env

# 💬 WhatsApp session/cache
.wwebjs_auth/
.wwebjs_cache/
session.json
.session/
.cache/

# 📁 Build / dist
dist/

# 🪵 Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🖥 OS-specific
.DS_Store
Thumbs.db

# 🧠 VSCode / editor configs
.vscode/

# 🖼️ Assets (si no quieres subirlos)
assets/

chrome/
chromium/